:root {
  --bg: #131921;
  --bg-light: #232f3e;
  --dark: #191919;
  --dark-light: #576067; 
  --grey: #b8b8b8;
  --grey-light: #f5f5f7;
  --white: #fff;
  --green: #4acc4a;
  --green-dark: #319231;
  --green-light: #49e649;
  --red:#bf4800;
  --border:#e1e1e1;
}
