@import "./mixins";

.footer {
  background-color: var(--bg);
  height: max-content;
  color: var(--white);

  & h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  & a {
    color: var(--white);
  }
}

.top {
  border-bottom: 1px solid var(--dark-light);
  padding: 1rem 0;
}

.newsletter {
  @include flex-space-between-center;
}

.top__data {
  @include flex-center;

  & img {
    margin-right: 2rem;
  }
}

.input__group {
  @include flex-center;
  flex-grow: 1;
  margin-left: 10vw;

  & span {
    border: 1px solid var(--white);
    padding: 0.83rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    font-size: 1rem;
    background-color: var(--green-dark);
    cursor: pointer;
    transition: background-color 0.2s linear;
    color: var(--white);

    &:hover {
      background-color: var(--bg);
    }
  }
}

.info {
  border-bottom: 1px solid var(--dark-light);
  padding: 1.5rem 0;
}

.info__wrapper {
  @include flex-space-between-center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

address {
  font-style: normal;
  line-height: 1.3rem;
}

.social_icons {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  margin-top: 1rem;
}

.copyright {
  @include flex-center;
  padding: 1rem 0;
  & img {
    width: 1.5rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    padding-bottom: 5rem;

    & h4 {
      font-size: 1rem;
    }
  }

  .top__data {
    img {
      width: 25px;
      margin-right: 1rem;
    }

    & h2 {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .input__group {
    margin-left: 0;
    width: 100%;

    & input {
      padding: 0.7rem;
    }

    & span {
      padding: 0.73rem;
    }
  }
}

@media only screen and (max-width: 560px) {
  .top__data h2 {
    display: none;
  }

  .box {
    text-align: center;
    flex-basis: 48%;

    & h4 {
      margin: 0;
    }
  }

  .social_icons {
    margin: 1rem auto;
    margin-bottom: 2rem;
  }
}
