.thankYouPage {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding: 1rem;

  & h1 {
    margin-bottom: 1rem;
  }

  & p {
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  & span {
    display: block;
    margin-top: 2rem;
  }

  & a {
    color: var(--red);
  }

  @media only screen and (max-width: 540px) {
    & {
        margin-bottom: 5%;
    }
    
    & p {
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

    & span a {
        font-size: .8rem !important;
        padding: 0.5rem 1.3rem;
    }
  }
}
